@tailwind base;
@tailwind components;
@tailwind utilities;

:root html, body {
  background-color: rgb(25, 25, 45);
}

.pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 15px solid rgba(231, 145, 7,0.89) ;
}

.about-div {
  height: 600px;
  width: 850px;
  
  box-shadow:0 0 7px goldenrod;
  }


label {
  font-weight: bold;

}

 